/* Import Leaflet CSS AVANT Tailwind */
@import 'leaflet/dist/leaflet.css';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Leaflet container */
.leaflet-container {
  width: 100%;
  height: 100%;
}